<%= form_for(@acao) do |f| %>
  <% if @acao.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @acao.errors.messages.values.each do |message| %>
        <li><%= message[0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :area_id, :value => @area.id %>
    
  <div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-4 open" id="sidebar">
				<div class="field">
					<div class="input-append date" id="data" data-date-format="dd/mm/yyyy">
				    	<%= f.label :Data %>
				    	<div class="input-group date">
				    		<%= f.text_field :dt_acao, class: "form-control", size:"16" ,value: formatDate(:data => @acao.dt_acao) %><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				    	</div>
				    	<span class="add-on"><i class="icon-th"></i></span>
				    </div>
				</div>
				<div class="field">
			    	<%= f.label :Execução %>
			    	<%= f.text_field :nm_acao, class: "form-control"%>
			  	</div>
			    <div class="field">
			    	<%= f.label :Valor %>
			    	<%= f.text_field :vl_acao, class: "form-control"%>
			    </div>
			    <div class="field">
			    	<%= f.label :Observação %>
			    	<%= f.text_area :ds_observacao, class: "form-control"%>
			    </div>
				</br></br>
				<div class="actions">
				    <%= f.submit ( f.object.new_record? ? "Criar" : "Atualizar"), class:"btn btn-success btn-md"%>
				    <%= link_to 'Voltar', @area , class:"btn btn-default btn-md"%> 
				</div>
			</div>
        </div>
    </div>
</div> 
<script type="text/javascript">
    $(function () {
    	//help: https://github.com/vitalets/bootstrap-datepicker
        $("#data").datepicker({
        	language: "pt-BR",
        	autoclose: true,
        	todayBtn: true,
        	todayHighlight: true
        });
        
        $('#acao_vl_acao').keyup(function(e) {
		  this.value = this.value.replace(/[^\d\.\-]/g,'');
		});
    });
</script>
<% end %>
