<%= form_for(@uso) do |f| %>
  <% if @uso.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @uso.errors.messages.values.each do |message| %>
        <li><%= message[0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :area_id, :value => @area.id %>
    


  <div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-4 open" id="sidebar">
				<div class="field">
					<div class="input-append date" id="data_inicio" data-date-format="dd/mm/yyyy">
				    	<%= f.label :Data_de_início %>
				    	<%= f.text_field :dt_inicio, class: "form-control", size:"16" ,value: formatDate(:data => @uso.dt_inicio) %>
				    	<span class="add-on"><i class="icon-th"></i></span>
				    </div>
				</div>
				<div class="field">
					<div class="input-append date" id="data_fim" data-date-format="dd/mm/yyyy">
				    	<%= f.label :Data_de_término %>
				    	<%= f.text_field :dt_fim, class: "form-control", value: formatDate(:data => @uso.dt_fim) %>
				    	<span class="add-on"><i class="icon-th"></i></span>
				    </div>
			    </div>
			    <div class="field">
			    	<%= f.label :Quantidade_de_animais %>
			    	<%= f.text_field :qnt_animais, class: "form-control"%>
			    </div>
			    <div class="field">
			    	<%= f.label :Idade_média %>(em meses)
			    	<%= f.text_field :idade_animais, class: "form-control"%>
			    </div>
				</br></br>
				<div class="actions">
				    <%= f.submit ( f.object.new_record? ? "Criar" : "Atualizar"), class:"btn btn-success btn-md"%>
				    <%= link_to 'Voltar', @area , class:"btn btn-default btn-md"%> 
				</div>
			</div>
        </div>
    </div>
</div> 
<script type="text/javascript">
    $(function () {
    	//help: https://github.com/vitalets/bootstrap-datepicker
        $("#data_inicio").datepicker({
        	language: "pt-BR",
        	autoclose: true,
        	todayBtn: true,
        	todayHighlight: true
        });
        
        $("#data_fim").datepicker({
        	language: "pt-BR",
        	autoclose: true,
        	todayBtn: true,
        	todayHighlight: true
        });
        
        $('#uso_qnt_animais').keyup(function(e) {
		  this.value = this.value.replace(/[^\d\.\-]/g,'');
		});
		$('#uso_idade_animais').keyup(function(e) {
		  this.value = this.value.replace(/[^\d\.\-]/g,'');
		});
    });
    
    
</script>
<% end %>
