<p id="notice"><%= notice %></p>

<h2>Todas as Propriedades
	<%= link_to ('<span class="glyphicon glyphicon-plus"></span>').html_safe, new_propriedade_path , class:"btn btn-success btn-md" %>
</h2>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>NIRF</th>
      <th>Nome</th>
      <th># Áreas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @propriedades.each do |propriedade| %>
      <tr>
      	<td><%= propriedade.nirf %></td>
        <td><%= propriedade.nome %></td>
        <td><%= link_to propriedade.areas.count, areas_path(:propriedade_id => propriedade.id) %></td>
        <td><%= link_to 'Detalhar', propriedade, class:"btn btn-default btn-md" %></td>
        <td><%= link_to 'Editar', edit_propriedade_path(propriedade), class:"btn btn-default btn-md" %></td>
        <td><%= link_to 'Excluir', propriedade, method: :delete, data: { confirm: 'Tem certeza que deseja excluir esta propriedade?' }, class:"btn btn-danger btn-md" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

