<div class="container">
	<p id="notice"><%= notice %></p>
    <div class="row">
        <div class="row">
            <div class="col-md-8" id="map" style="width: 75%"></div>
            <div class="col-md-4 open" id="sidebar" style="width:24%; margin-left: 10px">
				
				<div class="field">
					<strong style="margin-left: 10px;">Propriedade:</strong>
  					<%= @propriedade.nome %> (<span id="areaTotal" title="Calculado a partir das áreas informadas!"></span>)
		  			</br></br>
		  			<strong style="margin-left: 10px;">NIRF:</strong> <%=@propriedade.nirf %>
		  			</br></br>
		  			<strong style="margin-left: 10px;">Total de Animais: </strong><%=@propriedade.getQntAnimais %>
		  			</br></br></br>
		  			<% if @propriedade.areas.count == 0 %>
		  				</br>
		  				<strong style="margin-left: 10px;">Nenhuma área informada ainda!</strong>
		  			<% end %>
		  			</br></br></br></br></br>
		  			<%= link_to 'Editar', edit_propriedade_path(@propriedade), 
		  				class: "btn btn-primary btn-md botao" %> 
		  			<%= link_to 'Excluir', @propriedade, method: :delete, data: { confirm: 'Tem certeza que deseja excluir os dados desta propriedade?' }, 
		  				class: "btn btn-danger btn-md botao" %>
		  			<%= link_to 'Voltar', propriedades_path, class: "btn btn-default btn-md botao" %>
		  			</br>
		  			<%= link_to ('<span class="glyphicon glyphicon-plus"> Área</span>').html_safe, new_area_path(:propriedade_id => @propriedade.id) , 
		  				class:"btn btn-success btn-md botao" %>
		  			<%= link_to ('<span class="glyphicon glyphicon-plus"> Ponto de Água</span>').html_safe, new_agua_path(:propriedade_id => @propriedade.id) , 
		  				class:"btn btn-success btn-md botao" %>
		  			<%= link_to ('<span class="glyphicon glyphicon-plus"> Curso de Água</span>').html_safe, new_malha_agua_path(:propriedade_id => @propriedade.id) , 
		  				class:"btn btn-success btn-md botao" %>
				</div>
			</div>
        </div>
    </div>
</div>
  
  <script>
  var map;
  

  drawMap();
  
  function drawMap() {
	//carrega layer pontos de água
	var layerPontosAgua = L.layerGroup();
    <% @propriedade.aguas.each do |a| %>
	   	stringGeometria = '<%= a.getGeoJsonFromRGeoPoint %>';
	   	id = <%= a.id %>;
	   	tipo = "<%= raw (a.foto_tipo) %>";
	   	img = "";
	   	if (tipo) {
	   		base64 = "<%=  a.getContentImgBase64 %>";
		   	img = "<img style=\'width: 300px; height: 250px;\' src=\'data:"  + tipo + ";base64," + base64 + "'/>";
	   	}
	   	link = "<a href='/aguas/" + id + "/edit'>Editar</a>";
	   	link = link + " | <a data-confirm='Tem certeza?' rel='nofollow' data-method='delete' href='/aguas/" + id + "'>Excluir</a>"
	   	addLayerPontoAgua(stringGeometria, img, link, layerPontosAgua);
    <% end %>
    
    //carrega layer sede
    var stringGeometriaSede = '<%= @sede_ponto %>';
    var layerSede = L.layerGroup();
    if (stringGeometriaSede != "") {
		var stringGeometriaSede = replaceAll(stringGeometriaSede, "&quot;", "\"");
		var featuresSede = JSON.parse(stringGeometriaSede);
		var geoJson = L.geoJson(featuresSede, {
			onEachFeature: function (feature, layer) {
				layer.bindPopup('Sede da propriedade');
				layer.setIcon(sedeIcon);
				layer.addTo(layerSede);
		   }
		});
		editar = true;
	}
	
	//carrega layer malha de água
	var layerMalhaAgua = L.layerGroup();
    <% @propriedade.malhaAguas.each do |m| %>
	   	stringGeometria = '<%= m.getGeoJsonFromRGeoLine %>';
	   	id = <%= m.id %>;

	   	
	   	link = "<a href='/malha_aguas/" + id + "/edit'>Editar</a>";
	   	link = link + " | <a data-confirm='Tem certeza?' rel='nofollow' data-method='delete' href='/malha_aguas/" + id + "'>Excluir</a>"
	   	addLayerMalhaAgua(stringGeometria, link, layerMalhaAgua);
    <% end %>
	
	//layers opcionais
	var overlays = {
		"Sede": layerSede,
    	"Pontos de Água": layerPontosAgua,
    	"Malha de Água": layerMalhaAgua
    }
    
    var layersDefault = [layerSede, layerPontosAgua, layerMalhaAgua, google];
    
    
    //Criação do mapa  	
  	var mapOptions = getMapOptionsWithLayers(stringGeometriaSede, layersDefault);
  	
	map = L.map('map', mapOptions);
	
	//Adiciona os controles ao mapa
	addCollapseControl(map);
    L.control.layers(baseMaps, overlays).addTo(map);
	L.control.measure(measureOptions).addTo(map);
	addReloadControl(map);
	
	
    var stringGeometria;
    var link;
    var id;
    var areaTotal = 0;
    <% @propriedade.areas.each do |a| %>
	   	stringGeometria = '<%= a.getGeoJsonFromRGeo %>';
	   	id = <%= a.id %>;
	   	link = "</br><a href='/areas/" + id + "'>Detalhar</a>";
	   	link = link + " | <a href='/areas/" + id + "/edit'>Editar</a>";
	   	link = link + " | <a data-confirm='Tem certeza?' rel='nofollow' data-method='delete' href='/areas/" + id + "'>Excluir</a>"
	   	img = "";
	   	<% if !a.foto_conteudo.nil? %>
	   		base64 = "<%=  a.getContentImgBase64 %>";
			img = "<img style=\'width: 300px; height: 250px;\' src=\'data:"  + tipo + ";base64," + base64 + "'/>";
		<% end %>
	   	adicionarPoligonoArea(stringGeometria, map, link, img);
	   	areaTotal = areaTotal +  getAreaPoligonoHectare(stringGeometria);
    <% end %>
    
    document.getElementById('areaTotal').innerHTML = areaTotal.toFixed(2) + ' hectares';
}
</script>