<p id="notice"><%= notice %></p>

<h1>Listing Analises</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Arquivo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @analises.each do |analise| %>
      <tr>
        <td><%= analise.data %></td>
        <td>file...</td>
        <td><%= link_to 'Show', analise %></td>
        <td><%= link_to 'Edit', edit_analise_path(analise) %></td>
        <td><%= link_to 'Destroy', analise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Analise', new_analise_path %>
