<%= form_for(@agua) do |f| %>
  <% if @agua.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agua.errors.count, "error") %> prohibited this agua from being saved:</h2>

      <ul>
      <% @agua.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :propriedade_id, :value => @propriedade.id %>
  <%= hidden_field_tag(:localizacao_ponto, 'valor') %>
  
  <div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-8" id="map"></div>
            <img style="margin-right: -30px;" id="collapse" width="20px" height="20px" src="/images/collapse-right.png"/>
            <div class="col-md-4 open" id="sidebar">
				<div class="field">
					<div class="field">
						<%= f.label :tipo_da_fonte %>: 
		    			<%= f.select :tipo, ['Poço', 'Tanque', 'Córrego'] %>
					</div>
					<% if !@agua.foto_conteudo.nil? %>
		      			<%= getImgBase64(@agua) %>
					    </br>
					    </br>
		      		<% end %>
		      		<%= f.file_field :file%> 
					</br></br>
					<div class="actions">
					    <%= f.submit ( f.object.new_record? ? "Criar" : "Atualizar"), class:"btn btn-success btn-md"%>
					    <%= link_to 'Voltar', @propriedade , class:"btn btn-default btn-md"%>
					    <% if !@agua.foto_conteudo.nil? %> 
							<%= link_to "Download", @agua, class:"btn btn-default btn-md", method: :get %>
					    <% end %>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
  
  <script>
  var map;
  
  // Initialise the FeatureGroup to store editable layers
  var drawnItems = new L.FeatureGroup();
	
  $('#collapse').click(function(){
	if($('#sidebar').hasClass('open')) {
		$('#sidebar').removeClass('col-md-4');
		$('#sidebar').removeClass('open');
		$('#sidebar').addClass('hidden');
		$('#map').addClass('col-md-12');
		$('#map').removeClass('col-md-8');
		$("#collapse").attr("src", "/images/collapse-left.png");
		map.remove();
    	drawMap();
	} else {
	    $('#sidebar').addClass('col-md-4');
		$('#sidebar').addClass('open');
		$('#sidebar').removeClass('hidden');
		$('#map').removeClass('col-md-12');
		$('#map').addClass('col-md-8');
		$("#collapse").attr("src", "/images/collapse-right.png");
	}
  });

drawMap();
  
function drawMap() {
  
   //carrega layer pontos de água existentes
	var layerPontosAgua = L.layerGroup();
    <% @aguas.each do |a| %>
        <% if @agua.id != a.id %>
		   	stringGeometria = '<%= a.getGeoJsonFromRGeoPoint %>';
		   	id = <%= a.id %>;
		   	tipo = "<%= raw (a.foto_tipo) %>";
		   	img = "";
		   	if (tipo) {
		   		base64 = "<%=  a.getContentImgBase64 %>";
			   	img = "<img style=\'width: 200px; height: 150px;\' src=\'data:"  + tipo + ";base64," + base64 + "'/>";
		   	}
		   	link = "<a href='/aguas/" + id + "/edit'>Editar</a>";
		   	link = link + " | <a data-confirm='Tem certeza?' rel='nofollow' data-method='delete' href='/aguas/" + id + "'>Excluir</a>"
		   	addLayerPontoAgua(stringGeometria, img, link, layerPontosAgua);
	   	<% end %>
    <% end %>
    
  	//layers opcionais
	var overlays;
  	var geometriaSede =  '<%= @propriedade.getGeoJsonFromRGeoPoint %>';
  	var mapOptions = getMapOptions(geometriaSede);
  	<% if !@aguas.nil?%>
  		var layersDefault = [layerPontosAgua, google];
  		mapOptions = getMapOptionsWithLayers(geometriaSede, layersDefault);
		overlays = {
    		"Pontos de Água existentes": layerPontosAgua
	    }
  	<% else %>
  		mapOptions = getMapOptions(geometriaSede);	
  	<% end %>
  	
  	
  	
	map = L.map('map', mapOptions);
	
    L.control.layers(baseMaps, overlays).addTo(map);
	
	var editar = false;
	
	
    addLatLng(map);
	
	var stringGeometria = '<%= @localizacao_ponto %>';
    if (stringGeometria != "") {
		stringGeometria = replaceAll(stringGeometria, "&quot;", "\"");
		
		var features = JSON.parse(stringGeometria);
		var geoJson = L.geoJson(features, {
			onEachFeature: function (feature, layer) {
				layer.setIcon(aguaEdicaoIcon);
				layer.addTo(drawnItems);
		   }
		});
		

		editar = true;
	}
	
	
	// Initialise the draw control and pass it the FeatureGroup of editable layers
	var drawControlFull = new L.Control.Draw({
		draw: {
			polyline: false,
			marker: true,
			circle: false,
			rectangle: false,
			polygon: false
		},
  		edit: {
    		featureGroup: drawnItems
  		}
	});
	
	var drawControlEditOnly = new L.Control.Draw({
    	edit: {
        	featureGroup: drawnItems
    	},
    	draw: false
	});
	
	map.addLayer(drawnItems);
	
	if (editar) {
		map.removeControl(drawControlFull);
        map.addControl(drawControlEditOnly);
	} else {
		map.addControl(drawControlFull);
	}
	
	map.on(L.Draw.Event.EDITED, editGeometry);
	
	
	map.on(L.Draw.Event.CREATED, function (e) {
  		var layer = e.layer;
	  	layer.addTo(drawnItems);
		   	
		capturarGeometria(layer);
    	
    	map.removeControl(drawControlFull);
        map.addControl(drawControlEditOnly);
	});
	
	
	map.on(L.Draw.Event.DELETED, function(e) {
    	var type = e.layerType;
        var layer = e.layer;
		var check =  Object.keys(drawnItems._layers).length;
	    if (check === 0){
	        map.removeControl(drawControlEditOnly);
	        map.addControl(drawControlFull);
	    };
	    document.getElementById('localizacao_ponto').value = "";
	});
}
function capturarGeometria(layer) {
	// here you can get it in geojson format
    var geojson = layer.toGeoJSON();
    var json = JSON.stringify(geojson);
    
    document.getElementById('localizacao_ponto').value = json;
}
function editGeometry(e) {
	drawnItems.eachLayer(function (layer) {
		capturarGeometria(layer);
	});
}
</script>
<% end %>
